<footer>
    <div class="row">

        <div class="col-md-8 footer">
            <p>
                &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
                {% if page.last_updated %}
                    <span>Page last updated:</span> {{page.last_updated}}<br/>
                {% endif %}
                    Site last generated: {{ site.time | date: "%b %-d, %Y"  }}
            </p>
        </div>

        <div class="col-md-4 footer">
            <p class="text-right">
                <img src="{{ "/images/bc/bc.logo.png" |  prepend: site.baseurl }}" alt="Company logo"/>
            </p>
        </div>

    </div>
</footer>
